body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #4CAF50;
}

section img {
    width: 300px; /* Фиксированная ширина */
    height: 300px; /* Фиксированная высота */
    object-fit: cover; /* Сохраняет пропорции изображения, обрезая его */
    display: block;
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

.image-container {
    display: flex;
    flex-wrap: wrap; /* Позволяет изображениям переноситься на следующую строку, если не хватает места */
    justify-content: center; /* Выравнивает элементы по центру по горизонтали */
    gap: 20px; /* Расстояние между изображениями */
}
p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}